.contact_section{
    width: 100%;
    height: 100%;
}
.contact_section .form_main input{
    border:none;
    border-bottom: 2px solid #678AC9;
}
.contact_section .form_main textarea{
    border-color: #678AC9;
}
.contact_section .card{
    background-color: transparent;
}
.contact_section .card i{
    color:#DD5E87;
    font-size: 50px;
    cursor: pointer;
    font-family: FontAwesome;
}
.contact_section .submit_btn{
    background-color: none;
    border: 2px solid #DD5E87;
    transition: all 0.2s linear;
}